@import "../outgoing-document-detail/outgoing-document-detail.css";

.status-badge.sent {
  background: #eff4ff;
  color: #155eef;
}

.status-badge.failed {
  background: #fff1f3;
  color: #c01048;
}

.status-badge.received {
  background: #ecfdf3;
  color: #027a48;
}

.status-badge.responded {
  background: #fdf2fa;
  color: #c11574;
}
